<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ "/scripts/jquery-2.2.0.min.js" | prepend: site.baseurl }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ "/scripts/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/scripts/jssha256.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/scripts/sweet-alert.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/scripts/FBE.js" | prepend: site.baseurl }}"></script>
    </body>
</html>
